* {
  box-sizing: border-box;
  margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.circle {
    margin-top: 30vh;
    align-self: center;
    height: 43vh;
    width: auto;
}
.time p {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 2vh;
}
.buttons {
  align-self: center;
  text-align: center;
}
.buttons button {
  font-size: 24px;
  margin-right: 13px;
  margin-top: 1vh;
  border: 2px solid black;
}
.signs {
  margin-top: -30vh;
  width: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.duration {
  border: 2px solid black;
  margin-right: 1vw;
  height: 35px;
  width: 100px;
  align-self: center;
  text-align: center;
  font-size: 28px;
}
